.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 220px;
  
}

.featuredItem1 {
  background-color:   #ddffcc;
display: flex;
  margin: 0px 20px;
  padding: 30px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);

}
.featuredItem2 {
    background-color:   #ffffcc;
  display: flex;
    padding: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  
  }

.featuredTitle{
    font-size: 40px;
    color:#000000;
    font-family: "Cormorant Upright", serif;
    line-height: 83.2px;
    letter-spacing: 0.04em;
    font-weight: 600;
}

.featuredMoneyContainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.featuredMoney{
    font-size: 30px;
    color: gray;


}

.featuredMoneyRate{
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 18px;
    color: gray;
}

.featuredIcon{
    font-size: 14px;
    margin-left: 5px;
    color: green;
}

.featuredIcon.negative{
    color: red;
}

.featuredSub{
    font-size: 16px;
    color: gray;
    font-family: "Cormorant Upright", serif;

}
.icones{
font-size: 50px;
align-items: center;
display: flex;
padding-left: 10px;
background-color:  white;
width: 50px;
height: 50px;
border-radius: 50%;
}