.form-control4 {
    display: block;
    width: 20%;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #000000;
   border: 1px solid #ced4da;
    border-radius: 0.25rem;
    background-color: transparent;
  
      
  }
  
  .form-control4:focus {
    border-color:  #dcca87;
    outline: 0;
    box-shadow: 0 0 0 0.1rem #dcca87;
  
  }
.calendar_events{
    margin-left: 50px;
    margin-top: 50px;
    border: 2px solid var(--color-golden);

}
.calendar_btn{
    background-color:  #f1d579;
    color: black;
    font-family: "Cormorant Upright", serif;
    font-weight: 600;
    letter-spacing: 0.04em;
    line-height: 28px;
    border-radius: 1px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    padding: 0.5rem 1.5rem;
    margin-top: 15px;
}